<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row buffer">
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="boxes">
          <a href="/services/categories/Pregnancy Support"><i class="material-icons md-100">pregnant_woman</i></br>Pregnancy Support </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="boxes">

        <i class="fa fa-venus-mars blob" style="font-size:100px" ></i><a href="/services/categories/Sexual Health"></br>Sexual Health & Contraception</a>
      </div>
    </div>

      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="boxes">

        <a href="/services/categories/Domestic & Sexual Abuse"><i class="material-icons md-100">group</i></br>Domestic & Sexual Abuse </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
