<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-9">
        <div class="boxes">
          <a href="/services/Pregnancy Support"><i class="material-icons">pregnant_woman</i></br>Pregnancy Support </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9 boxes">
        <a href="/services/Sexual Health"><i class="fa fa-venus-mars" aria-hidden="true"></i></br>Sexual Health & Contraception</a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-9 boxes">
        <a href="/services/Domestic & Sexual Abuse"><i class="material-icons">group</i></br>Domestic & Sexual Abuse </a>
      </div>
    </div>
  </div>
</body>
</html>
