body {
  font-family: 'Arvo', serif;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

h1 {
  font-size: 30px;
  font-family: 'Arvo', serif;

}

h2 {
  font-size: 25px;
  font-family: 'Arvo', serif;

}


h3 {
  font-size: 20px;
  font-family: 'Arvo', serif;

}

p {
  font-size: 20px;
}


.buffer-top {
  margin-top: 30px;
}

.button-round {
  border-radius: 5px;
}
