.boxes {
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  // box-sizing: border-box;
  // margin: 5px;
  // padding: 20px;
  // width: 100px;
  height: 200px;
}

i {
  font-size: 100px;
}

.material-icons.md-100 {
  font-size: 100px;
}

.blob {
  color: gray;
  padding: 10px;
}

.buffer {
  margin-top: 20%;
}
