.boxes {
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  height: 200px;
  margin-top: 30px;

}

i {
  font-size: 100px;
}

.material-icons.md-100 {
  font-size: 100px;
  color: gray;

}

.blob {
  color: gray;
  padding: 10px;
}

.buffer {
  margin-top: 20%;
}
