<div class="container">
  <div class="row">
  <% services.forEach((service) => { %>

    <div class="col-lg-4 col-md-6 col-sm-9 box">

    <a href="/services/<%= service.id %>">
    <div class="logo-container" style="background-image: url('<%= service.image %>'); height: 200px;"></div>
    <div class= "service-name"
    <h1><%= service.name %></h1>
    </a>
    <h2><%= service.category %></h2>
    </div>
      </div>
      <% }) %>
      <% if(locals.isAuthenticated) { %>
        <a href="/services/new"> <i class="material-icons">plus_one</i></a>
        <% } %>
    </div>
  </div>
