<form method="POST" action="/services">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-group">
  <label for="categorySelect">Services Offered</label>
  <select multiple class="form-control" id="categorySelect">
    <option>Contraception</option>
    <option>Sexual Health Advice</option>
    <option>Domestic Abuse</option>
    <option>Sexual Assult Advice</option>
    <option>Pregnancy Support</option>
  </select>
</div>
  <fieldset>
    <legend>Address</legend>
    <div>
      <label for="line">Line 1</label>
      <input type="text" name="address[line1]" id="line1" required>
    </div>
    <div>
      <label for="line2">Line 2</label>
      <input type="text" name="address[line2]" id="line2">
    </div>
    <div>
      <label for="city">City</label>
      <input type="text" name="address[city]" id="city" required>
    </div>
    <div>
      <label for="postcode">Postcode</label>
      <input type="text" name="address[postcode]" id="postcode" required>
    </div>

  </fieldset>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>
  <div>
    <label for="website">Website</label>
    <input type="text" name="website" id="website" required>
  </div>
  <div>
    <label for="number">Number</label>
    <input type="text" name="number" id="number" required>
  </div>
  <button class="button">Save</button>
</form>
